# Ignore Temporary Documentation
doc/~*

# Ignore debug version of Logic software
debug/Logic/

# Ignore Visual Studio Code Artifacts
.vscode

# Ignore Build Artifacts
plugins/
project/*/Debug/
project/*/x64/Debug/
*.aps
*.db
*.exp
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.lastbuildstate
*.log
*.o
*.obj
*.opendb
*.opensdf
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.user
RCa22188




