# Ignore Temporary Documentation
doc/~*

# Ignore debug version of Logic software
debug/Logic/

# Ignore Visual Studio (Code) Artifacts
.vscode
.vs

# Ignore Build Artifacts
plugins/*/*.lib
plugins/*/Debug/
project/*/Debug/
project/*/x64/Debug/
*.aps
*.db
*.exp
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.lastbuildstate
*.log
*.o
*.obj
*.opendb
*.opensdf
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.user
*.vcxproj.FileListAbsolute.txt
RCa22188




